<!DOCTYPE html>
<html>
<body>

<form action="/user", method="post">
  Email:<br>
  <input type="text" name="email">
  <br>
  Name:<br>
  <input type="text" name="name" >
  <br>
  Password:
  <br>
  <input type="text" name="password">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<a href="/login"/><input  type="submit" value="Login">
</body>
</html>
