<!DOCTYPE html>
<html>
<<title>Login</title>
<body>


<form action="/welcome", method="post">
  Email:<br>
  <input type="text" name="email">
  <br>
  Password:
  <br>
  <input type="text" name="password">
  <br><br>
  <input type="submit" value="Submit">
</form> 


</body>
</html>
